# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
*.tsbuildinfo

# production / build
/build
/dist

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env*.local
!.env.example

# prisma / local database
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal
dev.db

# vercel
.vercel

# IDE & editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
